div(ng-controller="DashBoardController")
    //Carousel
    h2 Tableau de Bord

    button.btn.btn-large.btn-success(tooltip="Epingler un widget",tooltip-placement="right",ng-click="open()")
            span.glyphicon.glyphicon-plus

    div(style='height: 305px;')
        carousel(interval='myInterval')
            slide
                mychart(id="container", style="min-width: 650px; height: 300px; margin: 0 auto")
                .carousel-caption
                    h4 Slide {{$index}}
                    p {{slide.text}}
            slide(ng-repeat='slide in slides', active='slide.active')
                img(ng-src='{{slide.image}}', style='margin: auto;')
                .carousel-caption
                    h4 Slide {{$index}}
                    p {{slide.text}}

    //Widget
    .row
        #col.widget-col.col-sm-3.col-xs-4
        .widget-col.col-sm-3.col-xs-4
        .widget-col.col-sm-3.col-xs-4
            my-widget
                my-object(obj="{{object}}", name="{{object.name}}", icon="{{object.representation[0].icon}}", uuid="{{object.uuid}}")
        .widget-col.col-sm-3.col-xs-4

script(type="text/ng-template", id="myModalContent")
    .modal-header
        h3.modal-title Gérer les widgets
    .modal-body
        form
            tabset 
                tab(heading="Composants")
                    .row
                        .col-sm-4.col-xs-4(ng-repeat="object in objects")
                            input(type="checkbox",name="selectedFruits[]",ng-model='object.isSelected',value="object.name",ng-click="toggleSelection(object.name)")
                            my-object(obj="{{object}}", name="{{object.name}}", icon="{{object.representation[0].icon}}", uuid="{{object.uuid}}")
                tab(heading="Plugins")
            pagination(items-per-page='itemByPage', total-items="objects.length", ng-model="currentPage", ng-change="pageChanged(currentPage)",previous-text="Précédent",next-text="Suivant")
        .modal-footer
            button.btn.btn-primary(ng-click='ok()') OK
            button.btn.btn-warning(ng-click='cancel()') Cancel
