extends index

block menu
    div(class="col-xs-6 col-sm-3")        
        .collapse.navbar-collapse
            ul(class="nav navbar-nav")
                li
                    a(class="list-group-item") Zones
                        span(class="badge") {{12}}
                    a.list-group-item(href="/composants") Composants
                        span(class="badge") {{34}}
                    a(class="list-group-item") Plugins
                        span(class="badge") {{6}}
