div(ng-controller="ObjDetailController")
    h1 {{name}}
    hr
    //Nav tabs
    tabset 
        tab(heading="Formulaire")
            fieldset
                legend Actions
                div action1
                div action2
                div action3
                div action4  
                button.btn.btn-success.dropdown-toggle Ajouter  
                    span.caret
        tab(heading="Xml")
            pre dfdsfdfsdfsdf
             |sfsdfsdfsdfsdf
             |sfsdfsdfsdf
             |   sdf   sdfsdf     <dsfsdf>dsdsdfsdf
    
    button.btn.btn-primary Enregistrer
