div(ng-controller="ObjDetailController")
    h1 {{name}}
    hr
    //Nav tabs
    tabset 
        tab(heading="Formulaire")
            //General
            fieldset
                legend Composant
                .row
                    .col-xs-3.col-sm-3
                        label Nom:                    
                    .col-xs-3.col-sm-3
                        input(ng-model="datas.name")
                .row
                    .col-xs-3.col-sm-3
                        label Description:                    
                    .col-xs-3.col-sm-3
                        input(ng-model="datas.description")
                .row
                    .col-xs-3.col-sm-3
                        label Uuid:                    
                    .col-xs-3.col-sm-3
                        input(ng-model="datas.uuid", ng-disabled="true")
                .row
                    .col-xs-3.col-sm-3
                        label Type:                    
                    .col-xs-3.col-sm-3
                         input(ng-model="datas.type")
                                  
            br
            //Actions
            fieldset
                legend Actions
                div(ng-repeat="data in datas.actions.propertyList") {{data}}
                button.btn.btn-success.dropdown-toggle Ajouter  
                    span.caret
            br
            //Trigger
            fieldset
                legend Déclancheurs
                div(ng-repeat="data in datas.actions.propertyList") {{data}}
                button.btn.btn-success.dropdown-toggle Ajouter  
                    span.caret

        tab(heading="Xml")
            pre {{jsonDatas}}
        
    .row
        br
        button.btn.btn-primary(ng-click="submit()") Enregistrer
