.alert.alert-danger.alert-dismissable(ng-hide="true")
  button(type="button", class="close", data-dismiss="alert", aria-hidden="true") &times;
  strong Warning Better check yourself, you're not looking too good.

div(ng-controller="ObjectController")
    h2 Composant
    button.btn.btn-large.btn-success(data-toggle="tooltip", title="Ajouter un composant")
            span.glyphicon.glyphicon-plus
    .text-right
        .btn-group
            button.btn-lg.btn.btn-default.active
                span.glyphicon.glyphicon-th-large
            button.btn-lg.btn.btn-default
                span.glyphicon.glyphicon-th
            button.btn-lg.btn.btn-default
                span.glyphicon.glyphicon-th-list
    .container-fluid(ng-repeat="zone in zones")
        div(id="accordion")
                .div(data-toggle="collapse", data-parent="#accordion", href="#collapse{{zone.name}}")
                    h4 {{zone.name}}
                        span.caret 
                    hr                       
                .panel-collapse.collapse.in(id="collapse{{zone.name}}")
                    .panel-body                    
                        .col-xs-12.col-sm-4(ng-repeat="object in zone.objects")
                            my-object(obj="{{object}}", name="{{object.name}}", icon="{{object.representation[0].icon}}", uuid="{{object.uuid}}")
                 
    