.alert.alert-danger.alert-dismissable
  button(type="button", class="close", data-dismiss="alert", aria-hidden="true") &times;
  strong Warning Better check yourself, you're not looking too good.

div(class="col-xs-12 col-sm-12 container", ng-controller="ObjectController")
    h1 Composant

    .row.container-fluid(ng-repeat="zone in zones")
        .panel-group(id="accordion")
            .panel.panel-default
                .panel-heading(data-toggle="collapse", data-parent="#accordion", href="#collapse{{zone.name}}")
                    h4(class="panel-title") {{zone.name}}
                .panel-collapse.collapse.in(id="collapse{{zone.name}}")
                    .panel-body                    
                        .col-xs-12.col-sm-4(ng-repeat="object in zone.objects")
                            .panel.panel-default
                                .panel-heading.text-center {{object.name}}
                                .panel-body.text-center
                                    img(ng-src="/img/freedomotic/{{object.representation[0].icon}}")
                                    br
                                    .btn-group
                                        button(class="btn btn-default", ng-click="turnOn(object)") On
                                        button(class="btn btn-default", ng-click="turnOff(object)") Off
   
                 
    