div(ng-switch="pattern")
    .panel.panel-default(ng-switch-when="mosaic")
        .panel-heading.text-center {{name}}         
            span.glyphicon.glyphicon-pencil.text-right(ng-click="edit(name)")
       
        .panel-body.text-center
            img(id="img-{{uuid}}", ng-src="/img/freedomotic/{{icon}}")
            br
            //input.slider(data-slider-min='0', data-slider-max='100')
            div(ng-switch="type")
                .btn-group(ng-switch-when="EnvObject.ElectricDevice.Light")
                    button(id="btn-on-{{uuid}}", class="btn btn-default", ng-click="turnOn(uuid)") On
                    button(id="btn-off-{{uuid}}", class="btn btn-default", ng-click="turnOff(uuid)") Off
                .btn-group(ng-switch-when="EnvObject.ElectricDevice.Blind")
                    button.btn.btn-default(id="btn-up-{{uuid}}", ng-click="rolling(uuid,1,this)")
                        span.glyphicon.glyphicon-arrow-up 
                    button.btn.btn-default(id="btn-middle-{{uuid}}", class="btn btn-default", ng-click="rolling(uuid,0)")
                        span.glyphicon.glyphicon-unchecked
                    button.btn.btn-default(id="btn-down-{{uuid}}", class="btn btn-default", ng-click="rolling(uuid,-1)")
                        span.glyphicon.glyphicon-arrow-down
                 
    div(ng-switch-when="list")
        li.list-group-item 
            span.glyphicon.glyphicon-pencil.text-right(ng-click="edit(name)")   {{name}}                            
            img(id="img-{{uuid}}", ng-src="/img/freedomotic/{{icon}}")
            //input.slider(data-slider-min='0', data-slider-max='100')
            .btn-group.right
                button(id="btn-on-{{uuid}}", class="btn btn-default", ng-click="turnOn(uuid)") On
                button(id="btn-off-{{uuid}}", class="btn btn-default", ng-click="turnOff(uuid)") Off
     