!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Bootstrap Seed App
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body

    .col-xs-1.col-sm-3(ng-controller="MenuController")
        .navbar.navbar-inverse(role="navigation")
            .navbar-header
                //button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-ex2-collapse")
                span.sr-only Toggle navigation
                ul.nav.navbar-nav.nav-pills.navbar-toggle
                    li
                        a.glyphicon.glyphicon-off
                    li
                        a.glyphicon.glyphicon-off
                    li
                        a.glyphicon.glyphicon-off
                                            
            .collapse.navbar-collapse.navbar-ex2-collapse
                ul.nav.navbar-nav.nav-pills
                    li
                        a.glyphicon.glyphicon-off(ng-repeat="menu in menus", href="{{menu.url}}")     {{menu.name}}
                            span.badge {{34}}              
            //li(class="dropdown")
                a.btn.btn-default.dropdown-toggle(data-toggle="dropdown") Zones 
                    b(class="caret")
                    ul.dropdown-menu
                        li
                            a Zones 1
                        li
                            a Zone 2

    block body