!!!
html(lang='fr', ng-app="myApp")
    head
        meta(charset='iso-8859-1')
        base(href='/')
        title Angular Express Bootstrap Seed App
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/app.css')
    body
        .header
            .alert-danger.text-center(id='demoAlert')
                strong Attention: serveur inaccessible. Mode démo uniquement
            .navbar.navbar-default.navbar-inverse(role="navigation")
                .navbar-header
                    button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="#") Accueil             
    
                .collapse.navbar-collapse.navbar-ex1-collapse
                  ul.nav.navbar-nav
                    li
                      a(href="/administration") Administration
                    li 
                      a(href="view2") Préférence
                    li
                      a(href="#",ua-logout) Déconnexion
     
        .navbar(id="menu",role="navigation",ng-controller="MenuController")
            .navbar-header
                span.sr-only Toggle navigation
                ul.nav.navbar-nav.nav-pills.navbar-toggle
                    li
                        a.glyphicon.glyphicon-off
                    li
                        a.glyphicon.glyphicon-off
                    li
                        a.glyphicon.glyphicon-off
                                            
            .collapse.navbar-collapse.navbar-ex2-collapse
                ul.nav.navbar-nav.nav-pills
                    li
                        a.glyphicon.glyphicon-off(ng-repeat="menu in menus", href="{{menu.url}}")     {{menu.name}}
                            span.badge.right {{34}}              
        
        block body