
html(lang='fr', ng-app="myApp")
    head
        meta(charset="utf-16")
        base(href='/')
        title Angular Express Bootstrap Seed App
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/app.css')
        link(rel='stylesheet',href='js/lib/slider/css/slider.css')

    body
        .header
            .alert-danger.text-center(id='demoAlert')
                strong Attention: serveur inaccessible. Mode d&eacute;mo uniquement
            .navbar.navbar-default.navbar-inverse(role="navigation")
                .navbar-header
                    button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="#") Accueil             
    
                .collapse.navbar-collapse.navbar-ex1-collapse
                  ul.nav.navbar-nav
                    li
                      a(href="/administration") Administration
                    li 
                      a(href="view2") Pr&eacute;f&eacute;rence
                    li
                      a(href="#") D&eacute;connexion
        .container-fluid
            .row 
                .sidebar.col-sm-2.col-xs-1(ng-controller="MenuController")
                    .navbar-header
                        span.sr-only Toggle navigation
                        ul.nav.nav-sidebar.navbar-toggle
                            li
                                a.glyphicon.glyphicon-globe(href="/zones")
                            li
                                a.glyphicon.glyphicon-off(href="/composants")
                            li
                                a.glyphicon.glyphicon-phone(href="/plugins")
                            li 
                                a.glyphicon.glyphicon-flash(href="/administration/commandes")
                            li 
                                a.glyphicon.glyphicon-time(href="/triggers")
                                            
                    .collapse.navbar-collapse.navbar-ex2-collapse
                        ul.nav.nav-sidebar
                            li.active
                                a.glyphicon.glyphicon-globe(href="/zones")  Zones
                                    span.badge.right(ng-bind="nbZone")
                            li
                                a.glyphicon.glyphicon-off(href="/composants")  Composants
                                    span.badge.right(ng-bind="nbObj") 
                            li
                                a.glyphicon.glyphicon-phone(href="/plugins")  Plugins
                                    span.badge.right(ng-bind="nbPlug")
                            li 
                                a.glyphicon.glyphicon-flash(href="/administration/commandes")  Commandes
                                    span.badge.right(ng-bind="nbCmd") 
                            li 
                                a.glyphicon.glyphicon-time(href="/triggers")  D&eacute;clancheurs
                                    span.badge.right(ng-bind="nbTrigger")  
                     .sidebar-footer                
                        img(ng-src='/img/freedomotic_logo.png');              
          
            .container.col-xs-offset-1.col-sm-offset-2.col-xs-11.col-sm-10(ng-controller='AppCtrl')     
                block body