/* app css stylesheet */

body {
  padding-top:100px;
  background-color: #f3f3f3;
}

hr {
    border-color: #808080;
}

#demoAlert {
    padding: 5px;
    
}
.header {
    top: 0px;
    position: fixed;
    right: 0;
    left: 0;
    margin: 0;
    z-index:1000;
    border-radius: 0;
}
.nav-sidebar {
    margin-right: -8%;
    margin-bottom: 20px;
    margin-left: -28px;
    font-size: 16px;
}
.sidebar {
    top: 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    padding-top: 90px;
    border-radius: 0;
    box-shadow: 8px 8px 12px #aaa; 
    background-color: #222222;    
}
.sidebar a {
    color:white;
    border-bottom: 1px ridge;
}
.sidebar a:hover {
    color:#222222;
}
.sidebar-footer {
    background-color: white;
    bottom:0;
    left:0;
    position:fixed;
}
.button-right {
    float: right;
    cursor: pointer;
}
.right {
     float: right;
}
.panel-heading {
    padding: 10px 5px;
}

.widget-col {
    border: 1px solid #000;
    min-height: 150px;
}
.widget{
    margin:0;
}

.widget .widget-heading{
    cursor:pointer;
}

.widget .widget-body{
    padding:0;
}
.widget .panel {
    margin-bottom:0;
}
my-object img {
    min-height: 45px;
}
my-object .panel-body {
    background-image: radial-gradient(white,#c9d8ed);

}


  