/* app css stylesheet */

body {
  padding-top:100px;
}

#demoAlert {
    padding: 5px;
    
}
.header {
    top: 0px;
    position: fixed;
    right: 0;
    left: 0;
    margin: 0;
    z-index:1000;
    border-radius: 0;
}
#menu {
    top: 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    border-radius: 0;
    background-color:lavender;
    box-shadow: 8px 8px 12px #aaa; 
    background: linear-gradient( #f2f2f6, #fff);
    padding-top: 90px;
}
.button-right {
    float: right;
    cursor: pointer;
}
.right {
     float: right;
}


  